{% extends 'base.html' %}
{% block content %}    

<div class="container">
    </br>
    <a href="/">메인 화면으로...</a>
    </br></br>
    <h1>좋아하는 음악</h1></br>
    <h4>Lucas Graham - Drunk in the Morning</h4>
    <h4>HONNE - Me & You</h4>
    <h4>Bazzi - Myself</h4>
    <h4>DNCE - Toothbrush</h4>
    <h4>Lauv - Chasing Fire</h4>
    <h4>Meghan Trainer - Me Too</h4>
    <h4>Taylor Swift - Shake It Off</h4>
    <h4>Mike Perry - The Ocean</h4>
    <h4>Little Mix - Oops</h4>
    <h4>Mae Muller - Jenny</h4>
    <h4>Neiked & Mae Muller & Polo G- Better Days</h4>
    <h4>New Hope Club - Medicine</h4>
    <h4>Troye Sivan - FOOLS</h4>
    <h4>Troye Sivan - Just Dance</h4>
    <h4>ED Sheeran - Bad Habits</h4>
    <h4>Pink Sweat$ - I Feel Good</h4>
    <h4>Why Don't We - 8 Letters</h4>
    <h4>MAX - Worship</h4>
    <h4>Jonas Brothers - Only Human</h4>
    <h4>Zak Abel - You Come First</h4>
</div>

{% endblock %}

