{% extends 'base.html' %}
{% block content %}    
<div class="container">
    </br>
    <a href="/">메인 화면으로...</a>
    </br></br>
</div>
<div class="container" style="width:500px;height:500px;text-align:center;">
    <img src="/static/img/duck.jpg" class="card-img-top">
    <h4>그림같은 오리</h4>
    <img src="/static/img/cat.jpg" class="card-img-top">
    <h4>집 앞 고양이</h4>
    <img src="/static/img/dormanu.jpg" class="card-img-top">
    <h4>친구네 집 옥상에서 도르마무 만들기</h4>
    <img src="/static/img/gangreong.jpg" class="card-img-top">
    <h4>강릉 바다</h4>
    <img src="/static/img/light.jpg" class="card-img-top">
    <h4>집에서 무드등</h4>
    <img src="/static/img/moon.jpg" class="card-img-top">
    <h4>달</h4>
    <img src="/static/img/rainbow.jpg" class="card-img-top">
    <h4>집 앞 연못에서 무지개 발견</h4>
    <img src="/static/img/snowman.jpg" class="card-img-top">
    <h4>눈사람</h4>
    <img src="/static/img/sungshin.jpg" class="card-img-top">
    <h4>성신</h4>
    <img src="/static/img/Yeosu.jpg" class="card-img-top">
    <h4>KTX에서</h4>
    <img src="/static/img/Yeosu222.jpg" class="card-img-top">
    <h4>여수</h4>
    <img src="/static/img/hanriver1.jpg" class="card-img-top">
    <h4>바닥에 비친 하늘</h4>
    <img src="/static/img/hanriver2.jpg" class="card-img-top">
    <img src="/static/img/hanriver3.jpg" class="card-img-top">
    <img src="/static/img/hanriver4.jpg" class="card-img-top">
    <img src="/static/img/hanriver5.jpg" class="card-img-top">
    <img src="/static/img/hanriver6.jpg" class="card-img-top">
    <img src="/static/img/hanriver7.jpg" class="card-img-top">
    <img src="/static/img/hanriver8.jpg" class="card-img-top">
    <img src="/static/img/hanriver9.jpg" class="card-img-top">
    <img src="/static/img/hanriver10.jpg" class="card-img-top">
</div>
{% endblock %}