{% extends 'base.html' %}
{% block content %}    
<div class="container">
    </br>
    <a href="/">메인 화면으로...</a>
    </br></br>
</div>
    <div class="container" style="width:500px;height:500px;text-align:center;">
        <img src="/static/img/100.jpg" class="card-img-top">
        <h3>100일 때</h3>
        <img src="/static/img/kindergarten.jpg" class="card-img-top">
        <h3>유치원 졸업</h3>
        <img src="/static/img/babyyang.jpg" class="card-img-top">
        <h3>어릴 때부터 꾸준히 잘 먹는 성원</h3>
        <img src="/static/img/subway.jpg" class="card-img-top">
        <h3>빈 지하철에서 컨셉샷</h3>
        <img src="/static/img/jeju.jpg" class="card-img-top">
        <h3>단발 성원</h3>
        <img src="/static/img/parkyang.jpg" class="card-img-top">
        <h3>에버랜드</h3>
        <img src="/static/img/concept.jpg" class="card-img-top">
        <h3>지독한 컨셉</h3>
            
    </div>

{% endblock %}